<!DOCTYPE html>
<html>
<head>
  <title>Flask User Authentication</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar">
    <div class="container">
     
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.profile') }}">Profile</a>
          </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.get_users') }}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  
</body>
</html>
