{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center">Log In</h2>
  <form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class="form-control") }}
      {% for error in form.email.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
      {% for error in form.password.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>
{% endblock %}
