{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center">User Profile</h2>
  <div class="profile-info">
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
  </div>
</div>
{% endblock %}
