{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center">User Info</h2>
    
            <ul>
                {% for user in user_list %}
                <div class="user-info">
                    <li><p><strong>Username: </strong>{{ user.username}}<strong>Email: </strong>{{ user.email }}</p></li>
                </div>
                {% endfor %}
            </ul>
        
    </div>
{% endblock %}

